.root {
	-fx-background-image: url("titlescreen.jpg");
	-fx-background-size: cover;
}

#Main-Menu {
	-fx-font-size: 36px;
	-fx-font-family: "Arial Black";
	-fx-fill: #818181;
	-fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}

#intro {
	-fx-font-size: 18px;
	-fx-font-family: "Arial Black";
	-fx-font-style: italic;
	-fx-fill: #818181;
	-fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}

.button {
	-fx-font-size: 32px;
	-fx-text-fill: black;
	-fx-font-family: "Arial Black";
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#5A5564, #4D4343);
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
	-fx-background-color: linear-gradient(#4D4343, #A5A5A5);
}