.button {
	-fx-font-size: 24px;
	-fx-text-fill: black;
	-fx-font-family: "Arial Black";
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#5A5564, #4D4343);
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
	-fx-background-color: linear-gradient(#4D4343, #A5A5A5);
}

.root {
	-fx-background-image: url("titlescreen.jpg");
	-fx-background-size: cover;
}