.root {
	-fx-background-image: url("Vict.jpg");
	-fx-background-size: cover;
}

#actiontarget {
	-fx-font-size: 24px;
	-fx-fill: linear-gradient(#5A5564, #4D4343);
	-fx-font-weight: bold;
	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.label {
	-fx-font-size: 24px;
	-fx-font-weight: bold;
	-fx-text-fill: #333333;
	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.button {
	-fx-font-size: 12px;
	-fx-text-fill: black;
	-fx-font-family: "Arial Black";
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#5A5564, #4D4343);
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
	-fx-background-color: linear-gradient(#4D4343, #A5A5A5);
}